In [3]:
import numpy as np
import pandas as pd
from load_file import load_csv

[load_file](https://github.com/ImperadorSid/dotfiles/blob/master/.python-scripts/load_file.py)

In [4]:
signal = lambda number: 1 if number >= 0 else -1

In [5]:
test_perceptron = lambda x, w: [signal(w @ sample) for sample in x]

In [77]:
def train_perceptron(x, d, n=0.5, w=[]):
  samples = d.shape[0]
  inputs = x.shape[1]
  epochs = 0

  if w == []:
    w = np.random.random([1, inputs])
  initial_w = np.copy(w)

  while True:
    error = False
    epochs += 1
    
    for i in range(samples):
      u = w @ x[i]
      y = signal(u)
      if y != d[i]:
        w += n * (d[i] - y) * x[i]
        error = True
        
    if not error: break
      
  return initial_w, w, epochs

In [73]:
x, d = load_csv('../../datasets/petroleo.csv')

[petroleo.csv](https://github.com/ImperadorSid/datasets/blob/master/petroleo.csv)

In [68]:
for i in range(1, 6):
  initial_w, w, epochs = train_perceptron(x, d, n=.01)
  print('Training {} - {} epochs\nInitial weights: {}\nFinal weights: {}\n'.format(i, epochs, initial_w, w))

Training 1 - 418 epochs
Initial weights: [[0.24394912 0.06925139 0.54511994 0.36482102]]
Final weights: [[-3.11605088  1.57216539  2.49771594 -0.74240898]]

Training 2 - 455 epochs
Initial weights: [[0.80987081 0.93672274 0.469408   0.94248695]]
Final weights: [[-3.17012919  1.56648674  2.55856    -0.75697505]]

Training 3 - 434 epochs
Initial weights: [[0.92826204 0.72040465 0.12597186 0.23730693]]
Final weights: [[-3.09173796  1.56373665  2.49663186 -0.73612707]]

Training 4 - 400 epochs
Initial weights: [[0.3916246  0.04650943 0.44252502 0.79853097]]
Final weights: [[-3.0483754   1.54772343  2.46295902 -0.72888703]]

Training 5 - 433 epochs
Initial weights: [[0.2676866  0.63051339 0.65205756 0.3681343 ]]
Final weights: [[-3.1123134   1.57879939  2.50643956 -0.7415137 ]]

In [102]:
initial_weights = np.array([[0.24394912,0.06925139,0.54511994,0.36482102],
                            [0.80987081,0.93672274,0.469408,0.94248695],
                            [0.92826204,0.72040465,0.12597186,0.23730693],
                            [0.3916246,0.04650943,0.44252502,0.79853097],
                            [0.2676866,0.63051339,0.65205756,0.3681343]])

In [ ]:
trained_weights = np.array([[-3.11605088,1.57216539,2.49771594,-0.74240898],
                           [-3.17012919,1.56648674,2.55856,-0.75697505],
                           [-3.09173796,1.56373665,2.49663186,-0.73612707],
                           [-3.0483754,1.54772343,2.46295902,-0.72888703],
                           [-3.1123134,1.57879939,2.50643956,-0.7415137]])
trained_weights

In [127]:
inputs = pd.read_csv('../../datasets/petroleo2.csv').to_numpy()

array([[-1.    , -0.3665,  0.062 ,  5.9891],
       [-1.    , -0.7842,  1.1267,  5.5912],
       [-1.    ,  0.3012,  0.5611,  5.8234],
       [-1.    ,  0.7757,  1.0648,  8.0677],
       [-1.    ,  0.157 ,  0.8028,  6.304 ],
       [-1.    , -0.7014,  1.0316,  3.6005],
       [-1.    ,  0.3748,  0.1536,  6.1537],
       [-1.    , -0.692 ,  0.9404,  4.4058],
       [-1.    , -1.397 ,  0.7141,  4.9263],
       [-1.    , -1.8842, -0.2805,  1.2548]])

In [128]:
results = pd.DataFrame(
  {'y' + str(i + 1):
   test_perceptron(x, trained_weights[i])
   for i in range(5)}
)
results

    y1  y2  y3  y4  y5
0    1   1  -1   1   1
1    1   1  -1   1   1
2    1   1   1   1   1
3    1   1   1   1   1
4    1   1   1   1   1
5    1   1   1   1   1
6    1   1   1   1   1
7    1   1   1   1   1
8    1   1   1   1   1
9    1   1   1   1   1
10   1   1   1   1   1
11   1   1   1   1   1
12   1   1   1   1   1
13   1   1   1   1   1
14   1   1   1   1   1
15   1   1  -1   1  -1
16   1   1   1   1   1
17   1   1   1   1   1
18   1   1   1   1   1
19   1   1   1   1   1
20   1   1   1   1   1
21   1   1  -1   1   1
22   1   1  -1   1   1
23   1   1   1   1   1
24   1   1  -1   1   1
25   1   1   1   1   1
26   1   1   1   1   1
27   1   1   1   1   1
28   1   1   1   1   1
29   1   1   1   1   1

In [130]:
pd.Series(d)

0    -1
1    -1
2    -1
3     1
4     1
5    -1
6     1
7    -1
8     1
9     1
10   -1
11    1
12   -1
13   -1
14   -1
15   -1
16    1
17    1
18    1
19    1
20   -1
21    1
22    1
23    1
24    1
25   -1
26   -1
27    1
28   -1
29    1
dtype: int64